@charset "UTF-8";

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: $color-black;
    font-family: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック',
        'MS PGothic', sans-serif;
    font-size: 1.6em;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    word-spacing: 1px;
    box-sizing: border-box;
    // フォントの種類の違いによるサイズのバラつきを調整
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    // フォントのアンチエイリアスを調節
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch !important;
    // プリント時に背景色・背景画像の表示を強制
    // exact: 要素の背景色・背景画像を強制的にプリント
    -webkit-print-color-adjust: exact;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    overflow: hidden;
    background: linear-gradient(180deg, #cdecf5, #4d67b6) fixed;
    // animation: bgMove 70s ease 0s infinite;

    @include mq-mobile() {
        min-width: 320px;
    }
}

canvas {
    display: block;
    margin: 0 auto;
}

@keyframes bgMove {
    0% {
        background: linear-gradient(60deg, #cdecf5, #4d67b6) fixed;
    }
    50% {
        background: linear-gradient(160deg, #cdecf5, #4d67b6) fixed;
    }
    100% {
        background: linear-gradient(60deg, #cdecf5, #4d67b6) fixed;
    }
}